Repository BinaryStudioAcademy/bsa-2022-tasque, pull requests merged in 2022-08, with the labels that each got.

#2 Create a mechanism to connect to the database via connection string a…
  backend/README.md
  backend/Tasque.Core.Common/Entities/Project.cs
  backend/Tasque.Core.Common/Entities/User.cs
  backend/Tasque.DAL/Class1.cs
  backend/Tasque.DAL/DataContext.cs
  backend/Tasque.DAL/Migrations/20220808111835_InitialCreate.Designer.cs
  backend/Tasque.DAL/Migrations/20220808111835_InitialCreate.cs
  backend/Tasque.DAL/Migrations/DataContextModelSnapshot.cs
  backend/Tasque.DAL/Tasque.Core.DAL.csproj
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.WebAPI/appsettings.json
Labels: backend

#7 Made DbSets nullable
  backend/Tasque.DAL/DataContext.cs
Labels: backend, fix

#6 Added http service, apiUrl in environment.ts and some changes for REA…
  frontend/README.md
  frontend/src/core/services/http.service.ts
  frontend/src/environments/environment.ts
Labels: frontend

#5 #16 Add logger support
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.WebAPI/nlog.config
Labels: backend

#4 Error handling mechanism
  backend/Tasque.BLL/Exeptions/HttpException.cs
  backend/Tasque.WebAPI/Middlewares/ExceptionMiddleware.cs
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
Labels: backend

#3 Added materialUI library
  frontend/package.json
  frontend/src/app/material/material.module.ts
  frontend/src/index.html
  frontend/src/shared/shared.module.ts
  frontend/src/styles.sass
Labels: frontend

#9 Added colors from figma
  frontend/src/colors.sass
  frontend/src/styles.sass
Labels: frontend

#11 Added db schema to readme
  README.md
Labels: documentation

#8 19 create button base component
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/shared/components/button/button.component.html
  frontend/src/shared/components/button/button.component.sass
  frontend/src/shared/components/button/button.component.ts
Labels: frontend

#12 Create jwt based auth mechanism
  backend/Tasque.BLL/JWT/JwtFactory.cs
  backend/Tasque.BLL/JWT/JwtIssuerOptions.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
  backend/Tasque.Core.Common/Tasque.Core.Common.csproj
  backend/Tasque.DAL/Tasque.Core.DAL.csproj
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.WebAPI/appsettings.Development.json
  backend/Tasque.WebAPI/appsettings.json
  frontend/package-lock.json
  frontend/package.json
Labels: backend

#14 Create checkbox base component #22
  frontend/src/shared/components/checkbox-component/checkbox.component.html
  frontend/src/shared/components/checkbox-component/checkbox.component.sass
  frontend/src/shared/components/checkbox-component/checkbox.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#15 28 create notifications messages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/core/services/notification.service.ts
  frontend/src/styles.sass
Labels: frontend

#16 Added fonts and left-sidebar
  frontend/src/index.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/shared.module.ts
  frontend/src/styles.sass
Labels: frontend

#24 deleted razor pages, endpoints for razor pages and services for razor pages
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Pages/Error.cshtml
  backend/Tasque.WebAPI/Pages/Error.cshtml.cs
  backend/Tasque.WebAPI/Pages/Index.cshtml
  backend/Tasque.WebAPI/Pages/Index.cshtml.cs
  backend/Tasque.WebAPI/Pages/Privacy.cshtml
  backend/Tasque.WebAPI/Pages/Privacy.cshtml.cs
  backend/Tasque.WebAPI/Pages/Shared/_Layout.cshtml
  backend/Tasque.WebAPI/Pages/Shared/_Layout.cshtml.css
  backend/Tasque.WebAPI/Pages/Shared/_ValidationScriptsPartial.cshtml
  backend/Tasque.WebAPI/Pages/_ViewImports.cshtml
  backend/Tasque.WebAPI/Pages/_ViewStart.cshtml
  backend/Tasque.WebAPI/Program.cs
Labels: backend

#19 #29 login and register logic
  backend/Tasque.BLL/Class1.cs
  backend/Tasque.BLL/JWT/JwtFactory.cs
  backend/Tasque.BLL/JWT/JwtIssuerOptions.cs
  backend/Tasque.BLL/MappingProfiles/UserProfile.cs
  backend/Tasque.BLL/Services/AuthService.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
  backend/Tasque.Core.Common/DTO/AuthTokenDto.cs
  backend/Tasque.Core.Common/DTO/UserDto.cs
  backend/Tasque.Core.Common/DTO/UserLoginDto.cs
  backend/Tasque.Core.Common/DTO/UserRegisterDto.cs
  backend/Tasque.Core.Common/Entities/Abstract/BaseEntity.cs
  backend/Tasque.Core.Common/Entities/User.cs
  backend/Tasque.Core.Common/Security/SecurityHelper.cs
  backend/Tasque.Core.Common/Tasque.Core.Common.csproj
  backend/Tasque.DAL/DataContext.cs
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Controllers/AuthController.cs
  backend/Tasque.WebAPI/Middlewares/ExceptionMiddleware.cs
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.WebAPI/nlog.config
Labels: backend

#26 added controller mapping
  backend/Tasque.WebAPI/Program.cs
Labels: backend, fix

#25 Create base confirmation modal component #36
  frontend/src/app/app.module.ts
  frontend/src/colors.sass
  frontend/src/core/core.module.ts
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-button/button.component.ts
  frontend/src/shared/components/tasque-confirmation-modal/confirmation-modal.component.html
  frontend/src/shared/components/tasque-confirmation-modal/confirmation-modal.component.sass
  frontend/src/shared/components/tasque-confirmation-modal/confirmation-modal.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#27 Add swagger
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Properties/launchSettings.json
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
Labels: backend

#28 #38 email mechanism
  backend/Tasque.BLL/Services/Email/IEmailService.cs
  backend/Tasque.BLL/Services/Email/MailJet/MailJetOptions.cs
  backend/Tasque.BLL/Services/Email/MailJet/MailJetService.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
  backend/Tasque.Core.Common/Models/Email/EmailContact.cs
  backend/Tasque.Core.Common/Models/Email/EmailExtensions.cs
  backend/Tasque.Core.Common/Models/Email/EmailMessage.cs
  backend/Tasque.Core.Common/Tasque.Core.Common.csproj
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Controllers/AuthController.cs
  backend/Tasque.WebAPI/Program.cs
  backend/Tasque.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.WebAPI/appsettings.json
Labels: backend

#29 21 create dropdown base component
  frontend/src/shared/components/tasque-dropdown/dropdown.component.html
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-dropdown/dropdown.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#38 Login page improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/components/login-page/login-page.component.html
  frontend/src/shared/components/login-page/login-page.component.ts
  frontend/src/shared/components/tasque-button/button.component.html
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-button/button.component.ts
  frontend/src/shared/shared.module.ts
Labels: enhancement, frontend

#41 64 logo component
  frontend/src/assets/tasque_logo.svg
  frontend/src/assets/tasque_logo_dark.svg
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/login-page/login-page.component.html
  frontend/src/shared/components/login-page/login-page.component.sass
  frontend/src/shared/components/tasque-logo/tasque-logo.component.html
  frontend/src/shared/components/tasque-logo/tasque-logo.component.sass
  frontend/src/shared/components/tasque-logo/tasque-logo.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#44 moved not common components from common/components to app/components
  frontend/src/app/app.module.ts
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.html
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.sass
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/create-organization/create-organization.component.html
  frontend/src/app/components/create-organization/create-organization.component.sass
  frontend/src/app/components/create-organization/create-organization.component.ts
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.sass
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.ts
  frontend/src/app/components/create-project/create-project.component.html
  frontend/src/app/components/create-project/create-project.component.sass
  frontend/src/app/components/create-project/create-project.component.ts
  frontend/src/app/components/login-page/login-page.component.html
  frontend/src/app/components/login-page/login-page.component.sass
  frontend/src/app/components/login-page/login-page.component.ts
  frontend/src/app/components/register-page/register-page.component.html
  frontend/src/app/components/register-page/register-page.component.sass
  frontend/src/app/components/register-page/register-page.component.ts
  frontend/src/services/login.service.ts
  frontend/src/shared/shared.module.ts
Labels: frontend, fix

#46 Auth forms are now not dialogs
  frontend/.gitignore
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/auth-page/auth-page.component.html
  frontend/src/app/components/auth-page/auth-page.component.sass
  frontend/src/app/components/auth-page/auth-page.component.ts
  frontend/src/app/components/login-page/login-page.component.html
  frontend/src/app/components/login-page/login-page.component.sass
  frontend/src/app/components/login-page/login-page.component.ts
  frontend/src/app/components/register-page/register-page.component.html
  frontend/src/app/components/register-page/register-page.component.sass
Labels: enhancement, frontend

#43 #54-a password reset backend
  backend/Tasque.BLL/Options/EmailConfirmationOptions.cs
  backend/Tasque.BLL/Services/Auth/AuthService.cs
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Services/Auth/PasswordResetService.cs
  backend/Tasque.BLL/Services/AuthService.cs
  backend/Tasque.Core.Common/DTO/PasswordChangeDto.cs
  backend/Tasque.Core.Common/Entities/EmailConfirmationToken.cs
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Controllers/AuthController.cs
  backend/Tasque.WebAPI/Controllers/RestoreController.cs
  backend/Tasque.WebAPI/appsettings.json
Labels: backend

#40 43 create sidebar component
  frontend/src/app/app.module.ts
  frontend/src/core/services/sidebar.service.ts
  frontend/src/shared/components/tasque-button/button.component.ts
  frontend/src/shared/components/tasque-sidebar/sidebar.component.html
  frontend/src/shared/components/tasque-sidebar/sidebar.component.sass
  frontend/src/shared/components/tasque-sidebar/sidebar.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend, fix

#31 Add select organization dropdown #58
  backend/Tasque.BLL/Services/EntityCrudService.cs
  backend/Tasque.BLL/Services/OrganizationService.cs
  backend/Tasque.BLL/Services/ProjectService.cs
  backend/Tasque.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.WebAPI/Controllers/EntityController.cs
  backend/Tasque.WebAPI/Controllers/OrganizationController.cs
  backend/Tasque.WebAPI/Controllers/ProjectController.cs
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/assets/tick.svg
  frontend/src/core/services/organization-service.ts
  frontend/src/core/services/organization.service.ts
  frontend/src/core/services/storage.service.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/organizations-dropdown/organizations-dropdown.component.sass
  frontend/src/shared/components/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-checkbox/checkbox.component.sass
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-input/input.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
  frontend/src/shared/shared.module.ts
  frontend/src/styles.sass
Labels: backend, frontend

#49 69 auth flow
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth.module.ts
  frontend/src/app/auth/auth.routes.ts
  frontend/src/app/auth/components/auth-page/auth-page.component.html
  frontend/src/app/auth/components/auth-page/auth-page.component.sass
  frontend/src/app/auth/components/auth-page/auth-page.component.ts
  frontend/src/app/auth/components/login-page/login-page.component.html
  frontend/src/app/auth/components/login-page/login-page.component.sass
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.sass
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/components/login-page/login-page.component.html
  frontend/src/services/login.service.ts
Labels: enhancement, frontend

#52 54 forgot password frontend
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Services/Auth/PasswordResetService.cs
  backend/Tasque.WebAPI/Controllers/RestoreController.cs
  frontend/src/app/auth/auth.module.ts
  frontend/src/app/auth/auth.routes.ts
  frontend/src/app/auth/components/auth-page/auth-page.component.sass
  frontend/src/app/auth/components/auth-page/auth-page.component.ts
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.html
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.sass
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.ts
  frontend/src/app/auth/components/login-page/login-page.component.html
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/auth/components/reset-page/reset-page.component.html
  frontend/src/app/auth/components/reset-page/reset-page.component.sass
  frontend/src/app/auth/components/reset-page/reset-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.html
  frontend/src/app/auth/components/restore-page/restore-page.component.sass
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
  frontend/src/core/services/auth.service.ts
  frontend/src/entity-models/user-reset-password-model.ts
  frontend/src/shared/components/tasque-button/button.component.sass
Labels: frontend

#56 Hotfix: Added box-sizing: border-box for all elements in input container
  frontend/src/shared/components/tasque-input/input.component.sass
Labels: enhancement, fix

#59 Added icon to tasque-input component
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.sass
  frontend/src/shared/components/tasque-input/input.component.ts
Labels: enhancement, frontend

#62 added error message field to input component
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.ts
Labels: enhancement, frontend

#58 Create organizations list page #39
  frontend/src/app/app.module.ts
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.sass
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/create-project/create-project.component.ts
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.html
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.sass
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.ts
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/core/models/organization/new-organization-model.ts
  frontend/src/core/models/organization/organization-model.ts
  frontend/src/core/models/user/user-model.ts
  frontend/src/core/services/organization.service.ts
  frontend/src/entity-models/organization-model.ts
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.ts
Labels: enhancement, frontend

#64 Team select component
  frontend/src/assets/close_icon.svg
  frontend/src/shared/components/tasque-team-select/models.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#60 72 auth pages tasque input
  frontend/src/app/auth/components/auth-page/auth-page.component.html
  frontend/src/app/auth/components/auth-page/auth-page.component.sass
  frontend/src/app/auth/components/login-page/login-page.component.html
  frontend/src/app/auth/components/login-page/login-page.component.sass
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/auth/components/reset-page/reset-page.component.html
  frontend/src/app/auth/components/reset-page/reset-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.html
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
Labels: enhancement, frontend

#72 Enhancement of left sidebar component
  frontend/src/assets/backlog_icon.svg
  frontend/src/assets/board_icon.svg
  frontend/src/assets/burger_menu.svg
  frontend/src/assets/kebab_menu.svg
  frontend/src/assets/settings_icon_sidebarmenu.svg
  frontend/src/assets/team_icon.svg
  frontend/src/assets/wiki_icon.svg
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/shared.module.ts
Labels: enhancement, frontend

#65 Mail enhancement
  backend/Tasque.BLL/Services/Auth/AuthService.cs
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Services/Email/MailJet/MailJetService.cs
  backend/Tasque.Core.Common/DTO/EmailDto.cs
  backend/Tasque.Core.WebAPI/Controllers/AuthController.cs
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/core/interceptors/error.interceptor.ts
  frontend/src/core/services/auth.service.ts
Labels: enhancement, backend, frontend

#73 Frontend enhancement
  frontend/src/core/interceptors/error.interceptor.ts
  frontend/src/favicon.ico
Labels: enhancement, frontend

#74 fixed register page
  frontend/src/app/auth/components/register-page/register-page.component.ts
Labels: frontend, fix

#78 SendGrid service, minor improvements
  backend/Tasque.BLL/Options/EmailConfirmationOptions.cs
  backend/Tasque.BLL/Options/MailJetOptions.cs
  backend/Tasque.BLL/Options/SendGridOptions.cs
  backend/Tasque.BLL/Services/Auth/AuthService.cs
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Services/Email/MailJetService.cs
  backend/Tasque.BLL/Services/Email/SendGridService.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
  backend/Tasque.Core.Common/Models/Email/EmailExtensions.cs
  backend/Tasque.Core.Common/Tasque.Core.Common.csproj
  backend/Tasque.Core.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.Core.WebAPI/Properties/launchSettings.json
  backend/Tasque.Core.WebAPI/Tasque.Core.WebAPI.csproj
  backend/Tasque.Core.WebAPI/appsettings.json
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/core/interceptors/error.interceptor.ts
Labels: enhancement, backend

#80 92 toastr styling
  frontend/src/assets/error_icon.svg
  frontend/src/assets/info_icon.svg
  frontend/src/assets/success_icon.svg
  frontend/src/assets/warning_icon.svg
  frontend/src/styles.sass
  frontend/src/toastr.sass
Labels: enhancement, frontend

#82 Fixed backend port and interceptor errors
  frontend/src/core/interceptors/error.interceptor.ts
  frontend/src/environments/environment.ts
Labels: frontend, fix

#81 52 task creation modal
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/core/models/task/task-model.ts
  frontend/src/core/settings/angular-editor-setting.ts
  frontend/src/index.html
  frontend/src/shared/components/tasque-dropdown/dropdown.component.html
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-dropdown/dropdown.component.ts
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.ts
  frontend/src/shared/components/tasque-sidebar/sidebar.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#79 Board page
  frontend/src/app/app.module.ts
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/assets/board/column_menu.svg
  frontend/src/assets/board/filter.svg
  frontend/src/assets/board/lightning.svg
  frontend/src/assets/board/menu.svg
  frontend/src/assets/board/share.svg
  frontend/src/assets/board/star.svg
  frontend/src/colors.sass
  frontend/src/core/models/board/board-model.ts
  frontend/src/core/models/board/task-Info-model.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-input/input.component.ts
Labels: frontend

#86 Getting a user ID
  backend/Tasque.BLL/Helpers/CurrentUserParameters.cs
  backend/Tasque.Core.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.Core.WebAPI/Middlewares/GetUserIdMiddleware.cs
  backend/Tasque.Core.WebAPI/Program.cs
  backend/Tasque.Core.WebAPI/appsettings.json
Labels: backend

#91 Wip/auth demo improvements
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Services/Auth/PasswordResetService.cs
  frontend/src/app/app.module.ts
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.ts
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/reset-page/reset-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
  frontend/src/core/core.module.ts
  frontend/src/core/interceptors/global-error-handler.ts
  frontend/src/entity-models/const-resources/toastr-config.ts
Labels: enhancement, backend, frontend, fix

#92 117 fix sidebar
  frontend/src/app/app.module.ts
  frontend/src/core/services/sidebar.service.ts
  frontend/src/shared/components/tasque-sidebar/sidebar.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.html
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.sass
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.html
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.sass
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend, fix

#90 Added routing, page with and without left-sidebar
  backend/Tasque.Core.WebAPI/Controllers/OrganizationController.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.ts
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/reset-page/reset-page.component.ts
  frontend/src/app/components/create-project/create-project.component.html
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.html
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.ts
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.html
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.ts
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.sass
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.html
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.sass
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.ts
  frontend/src/app/components/tasque-team/tasque-team.component.html
  frontend/src/app/components/tasque-team/tasque-team.component.sass
  frontend/src/app/components/tasque-team/tasque-team.component.ts
  frontend/src/core/interceptors/jwt.interceptor.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/styles.sass
Labels: frontend

#96 Fix input styles
  frontend/package-lock.json
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.ts
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.sass
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/colors.sass
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.sass
  frontend/src/shared/components/tasque-input/input.component.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/shared.module.ts
Labels: frontend, fix

#100 changed swagger endpoint
  backend/Tasque.Core.WebAPI/Program.cs
Labels: enhancement, backend

#99 auth improvements
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  frontend/src/app/auth/auth.module.ts
  frontend/src/app/auth/auth.routes.ts
  frontend/src/app/auth/components/login-page/login-page.component.html
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/reset-page/reset-page.component.html
  frontend/src/app/auth/components/reset-page/reset-page.component.sass
  frontend/src/app/auth/components/reset-page/reset-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.html
  frontend/src/app/auth/components/restore-page/restore-page.component.sass
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
  frontend/src/app/auth/guards/register.guard.ts
  frontend/src/app/auth/guards/restore.guard.ts
  frontend/src/app/guards/login.guard.ts
  frontend/src/app/guards/register.guard.ts
  frontend/src/entity-models/const-resources/toastr-config.ts
  frontend/src/shared/components/tasque-input/input.component.sass
Labels: enhancement, frontend, fix

#97 Fix scaling
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.html
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.html
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.sass
Labels: frontend, fix

#103 User profile fixes
  frontend/src/app/user/components/user-profile/user-profile.component.html
  frontend/src/app/user/components/user-profile/user-profile.component.sass
  frontend/src/app/user/components/user-profile/user-profile.component.ts
Labels: frontend

#106 112 email design
  backend/Tasque.BLL/Resources/ConfirmEmailMessage.html
  backend/Tasque.BLL/Resources/ResetPasswordMessage.html
  backend/Tasque.BLL/Services/AssemblyResourceService.cs
  backend/Tasque.BLL/Services/Auth/ConfirmationTokenService.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
Labels: enhancement

#102 User access
  frontend/src/app/app-routing.module.ts
  frontend/src/app/auth/auth.routes.ts
  frontend/src/app/auth/guards/auth.guard.ts
  frontend/src/app/auth/guards/login.guard.ts
  frontend/src/app/auth/guards/restore.guard.ts
  frontend/src/core/services/auth.service.ts
Labels: enhancement, frontend

#107 Organization page improvements
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.html
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.sass
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-header/header.component.html
Labels: frontend

#108 Confirmation modal fix
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-confirmation-modal/confirmation-modal.component.html
  frontend/src/shared/components/tasque-confirmation-modal/confirmation-modal.component.sass
  frontend/src/styles.sass
Labels: frontend

#109 Hotfix/page styling fix
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/shared/components/tasque-header/header.component.sass
Labels: frontend, fix

#113 Create startup readme
  STARTUP-README.md
Labels: documentation

#117 Fixed list of organizations page
  frontend/src/app/components/organization-list/organization-list.component.ts
Labels: frontend, fix

#87 Create edit task modal 84
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/core/models/project/new-project-model.ts
  frontend/src/core/models/project/project-model.ts
  frontend/src/core/models/sprint/sprint-model.ts
  frontend/src/core/models/task/task-create-view-model.ts
  frontend/src/core/models/task/task-model.ts
  frontend/src/core/models/task/task-priority.ts
  frontend/src/core/models/task/task-state.ts
  frontend/src/core/models/task/task-type.ts
  frontend/src/core/settings/angular-editor-setting.ts
  frontend/src/shared/components/tasque-button/button.component.html
  frontend/src/shared/components/tasque-checkbox/checkbox.component.sass
  frontend/src/shared/components/tasque-dropdown/dropdown.component.html
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-dropdown/dropdown.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.sass
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
  frontend/src/shared/shared.module.ts
  frontend/src/styles.sass
Labels: frontend

#110 129 not found page
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/shared/components/not-found-page/not-found-page.component.html
  frontend/src/shared/components/not-found-page/not-found-page.component.sass
  frontend/src/shared/components/not-found-page/not-found-page.component.ts
  frontend/src/shared/shared.module.ts
Labels: enhancement, frontend

#119 Redesigned list of projects
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.html
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.sass
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.ts
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.sass
  frontend/src/app/components/project-list/project-list.component.ts
Labels: frontend

#122 Fix not working GetUserOrganizations method
  backend/Tasque.BLL/Services/OrganizationService.cs
Labels: backend, fix

#121 Fix wrong swagger url
  STARTUP-README.md
Labels: documentation, fix

#118 Change create button dropdown
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#124 added logo link
  backend/Tasque.Core.Identity/Services/ConfirmationTokenService.cs
  backend/Tasque.Core.WebAPI/appsettings.json
Labels: backend

#126 Create logout functionality
  frontend/src/core/interceptors/global-error-handler.ts
  frontend/src/core/interceptors/jwt.interceptor.ts
  frontend/src/core/services/auth.service.ts
  frontend/src/services/board.service.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend

#128 Fix organization dropdown and organization list
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
Labels: frontend, fix

#133 146 register by link
  backend/Tasque.BLL/Resources/ReferralInvitationMessage.html
  backend/Tasque.BLL/Services/AssemblyResourceService.cs
  backend/Tasque.BLL/Tasque.Core.BLL.csproj
  backend/Tasque.Core.Common/Constants.cs
  backend/Tasque.Core.Common/DTO/User/UserRegisterDto.cs
  backend/Tasque.Core.Common/Entities/EmailConfirmationToken.cs
  backend/Tasque.Core.Common/Entities/User.cs
  backend/Tasque.Core.Identity/Services/AuthService.cs
  backend/Tasque.Core.Identity/Services/ConfirmationTokenService.cs
  backend/Tasque.Core.WebAPI/Controllers/AuthController.cs
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/core/services/auth.service.ts
  frontend/src/entity-models/user-register-model.ts
  frontend/src/shared/components/tasque-input/input.component.html
  frontend/src/shared/components/tasque-input/input.component.sass
  frontend/src/shared/components/tasque-input/input.component.ts
Labels: backend, frontend

#132 Changes mechanism create project/organization
  backend/Tasque.BLL/Services/OrganizationService.cs
  backend/Tasque.Core.Common/DTO/Organization/CreateOrganizationDto.cs
  backend/Tasque.Core.Common/DTO/Organization/OrganizationDto.cs
  backend/Tasque.Core.Common/DTO/Project/NewProjectDto.cs
  backend/Tasque.Core.WebAPI/Controllers/OrganizationController.cs
  backend/Tasque.Core.WebAPI/Controllers/ProjectController.cs
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.ts
  frontend/src/app/components/create-project/create-project.component.ts
  frontend/src/core/models/organization/new-organization-model.ts
  frontend/src/core/models/project/new-project-credentials.model.ts
  frontend/src/core/models/project/new-project-model.ts
Labels: backend, frontend, fix

#134 Fix register page error
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/shared/components/tasque-input/input.component.html
Labels: frontend, fix

#130 Organizations workflow
  backend/Tasque.BLL/Services/OrganizationService.cs
  backend/Tasque.Core.WebAPI/Controllers/OrganizationController.cs
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/edit-organization/edit-organization.component.ts
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.html
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.ts
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/core/services/get-current-organization.service.ts
  frontend/src/core/services/organization.service.ts
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: backend, frontend

#137 Bugfix/171 user profile page avatar
  backend/Tasque.BLL/Services/UserService.cs
  backend/Tasque.Core.Common/DTO/ImageDto.cs
  backend/Tasque.Core.WebAPI/Controllers/UserController.cs
  frontend/src/app/user/components/user-profile/user-profile.component.html
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/app/user/services/user.service.ts
Labels: enhancement, backend, frontend, fix

#120 106 fix create project dialog
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.sass
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.ts
  frontend/src/core/models/project/new-project-model.ts
  frontend/src/shared/shared.module.ts
Labels: backend, frontend, fix

#138 162 edit org modal background style of the modal window does not match the general visual component style
  frontend/src/app/components/edit-organization/edit-organization.component.sass
  frontend/src/app/components/edit-organization/edit-organization.component.ts
Labels: frontend, fix

#135 156 backlog page general section
  backend/Tasque.BLL/MappingProfiles/BoardProfiles.cs
  backend/Tasque.BLL/Services/BoardService.cs
  backend/Tasque.Core.Common/DTO/Board/BoardDto.cs
  backend/Tasque.Core.Identity/Services/ConfirmationTokenService.cs
  backend/Tasque.Core.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.Core.WebAPI/Controllers/BoardController.cs
  backend/Tasque.Core.WebAPI/appsettings.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/assets/tasque_big_logo.png
  frontend/src/core/services/sprint.service.ts
  frontend/src/entity-models/board-model.ts
  frontend/src/services/board.service.ts
Labels: backend, frontend

#141 Card component
  frontend/src/app/app.module.ts
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.sass
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/core/models/board/task-Info-model.ts
  frontend/src/shared/components/tasque-input/input.component.sass
Labels: frontend

#140 Frontend improvements | fixes
  frontend/src/core/services/auth.service.ts
  frontend/src/entity-models/const-resources/toastr-config.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend, fix

#142 Bugfix/user page fixes
  backend/Tasque.Core.Common/Entities/User.cs
  frontend/src/app/user/components/user-profile/user-profile.component.html
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/entity-models/const-resources/validation-constraints.ts
Labels: frontend, fix

#143 Rebuild header
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
Labels: enhancement, frontend

#144 Added more realistic fake data to projects page
  frontend/src/app/components/project-list/project-list.component.ts
Labels: frontend

#148 fix bug in creating project
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.html
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.sass
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.sass
  frontend/src/shared/components/tasque-button/button.component.sass
Labels: frontend, fix

#147 90 start/edit sprint modal
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.Common/DTO/Sprint/EditSprintDto.cs
  backend/Tasque.Core.Common/DTO/Sprint/SprintDto.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.html
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.sass
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.html
  frontend/src/app/components/edit-sprint/edit-sprint.component.sass
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/models/sprint/edit-sprint-model.ts
  frontend/src/core/models/sprint/sprint-model.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/shared/components/tasque-dropdown/dropdown.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend

#149 Frontend fixes
  frontend/src/app/app.module.ts
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/core/models/access-token.ts
  frontend/src/core/models/board/board-model-dto.ts
  frontend/src/core/models/const-resources/error-messages.ts
  frontend/src/core/models/const-resources/toastr-config.ts
  frontend/src/core/models/const-resources/validation-constraints.ts
  frontend/src/core/models/local-storage-keys.ts
  frontend/src/core/models/user/user-login-model.ts
  frontend/src/core/models/user/user-model.ts
  frontend/src/core/models/user/user-register-model.ts
  frontend/src/core/models/user/user-reset-password-model.ts
  frontend/src/core/services/auth.service.ts
  frontend/src/core/services/board.service.ts
  frontend/src/core/services/get-current-organization.service.ts
  frontend/src/entity-models/user-model.ts
  frontend/src/services/login.service.ts
  frontend/src/shared/components/select-users/select-users.component.ts
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend, fix

#150 165 fix controllers
  backend/Tasque.Core.Identity/Helpers/CurrentUserParameters.cs
  backend/Tasque.Core.WebAPI/Controllers/BoardController.cs
  backend/Tasque.Core.WebAPI/Controllers/EntityController.cs
  backend/Tasque.Core.WebAPI/Controllers/OrganizationController.cs
  backend/Tasque.Core.WebAPI/Controllers/ProjectController.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  backend/Tasque.Core.WebAPI/Controllers/UserController.cs
  backend/Tasque.Core.WebAPI/Middlewares/GetUserIdMiddleware.cs
Labels: backend, fix
