Repository BinaryStudioAcademy/bsa-2022-tasque, pull requests merged in 2022-09, with the labels that each got.

#154 fix organization/project creater
  frontend/src/app/components/create-organization/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.html
  frontend/src/app/components/create-project/create-project-dialog/create-project-dialog.component.ts
Labels: frontend, fix

#153 Hotfix/demo 2
  backend/Tasque.BLL/Options/EmailConfirmationOptions.cs
  backend/Tasque.BLL/Resources/ReferralInvitationMessage.html
  backend/Tasque.Core.Identity/Services/ConfirmationTokenService.cs
  backend/Tasque.Core.WebAPI/appsettings.json
  frontend/src/app/app-routing.module.ts
Labels: enhancement, backend, frontend

#157 Bugfix/188 187 144
  backend/Tasque.Core.Common/Constants.cs
  backend/Tasque.Core.Common/Entities/User.cs
  backend/Tasque.Core.WebAPI/Controllers/UserController.cs
  frontend/src/app/auth/components/login-page/login-page.component.ts
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/core/models/const-resources/validation-constraints.ts
  frontend/src/shared/components/select-users/select-users.component.ts
  frontend/src/shared/components/tasque-avatar/avatar.component.sass
Labels: backend, frontend, fix

#160 Change position elements in project/org list
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.sass
Labels: frontend, fix

#163 Fixed not changing avatar after uploading
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/core/services/get-current-user.service.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend, fix

#162 Fixed not disappearing notifications
  frontend/src/app/auth/components/confirm-email-page/confirm-email-page.component.ts
  frontend/src/app/auth/components/restore-page/restore-page.component.ts
Labels: frontend, fix

#166 Fix user profile wrong margins
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.html
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/app/components/project-list/project-list.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.sass
  frontend/src/app/user/components/user-profile/user-profile.component.sass
  frontend/src/styles.sass
Labels: frontend, fix

#167 fixed frontend build
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/shared/components/select-users/select-users.component.ts
Labels: frontend, fix

#168 Fix styles and make header adaptive
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/edit-organization/edit-organization.component.sass
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/dropdown-field-edit/dropdown-field-edit.component.sass
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/label-field-edit/label-field-edit.component.sass
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.sass
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-input/input.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/tasque-option/tasque-option.component.html
  frontend/src/shared/components/tasque-menu-dropdown/tasque-option/tasque-option.component.sass
  frontend/src/shared/components/tasque-menu-dropdown/tasque-option/tasque-option.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/shared.module.ts
  frontend/src/styles.sass
Labels: frontend, fix

#171 Fixed avatar
  frontend/src/shared/components/tasque-avatar/avatar.component.ts
Labels: fix

#178 Remove mistaken team-select using
  frontend/src/app/components/organization-list/organization-list.component.html
Labels: frontend, fix

#169 Refactor user organization loading flow
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/create-organization/create-organization.component.ts
  frontend/src/app/components/edit-organization/edit-organization.component.ts
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/core/services/auth.service.ts
  frontend/src/core/services/get-current-organization.service.ts
  frontend/src/core/services/get-current-user.service.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend, fix

#177 Move create dialog components to shared and make services for them
  frontend/src/app/app.module.ts
  frontend/src/app/components/create-organization/create-organization.component.html
  frontend/src/app/components/create-organization/create-organization.component.sass
  frontend/src/app/components/create-organization/create-organization.component.ts
  frontend/src/app/components/create-project/create-project.component.html
  frontend/src/app/components/create-project/create-project.component.sass
  frontend/src/app/components/create-project/create-project.component.ts
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/guards/user-permission.guard.ts
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.ts
  frontend/src/core/services/create-project.service.ts
  frontend/src/core/services/open-dialog.service.ts
  frontend/src/shared/components/create-organization-dialog/create-organization-dialog.component.html
  frontend/src/shared/components/create-organization-dialog/create-organization-dialog.component.sass
  frontend/src/shared/components/create-organization-dialog/create-organization-dialog.component.ts
  frontend/src/shared/components/create-project-dialog/create-project-dialog.component.html
  frontend/src/shared/components/create-project-dialog/create-project-dialog.component.sass
  frontend/src/shared/components/create-project-dialog/create-project-dialog.component.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#182 Remove settings item from header
  frontend/src/shared/components/tasque-header/header.component.html
Labels: frontend, fix

#183 Remove 'sign up with google/github' buttons
  frontend/src/app/auth/components/login-page/login-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.html
Labels: frontend, fix

#165 added tasque-team-select mini view
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/shared/components/tasque-avatar/avatar.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
Labels: frontend

#185 201 backlog
  backend/Tasque.BLL/Services/BacklogService.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.BLL/Services/TaskStateService.cs
  backend/Tasque.BLL/Services/TaskTypeService.cs
  backend/Tasque.Core.Common/DTO/Sprint/SprintDto.cs
  backend/Tasque.Core.Common/DTO/Task/TaskDto.cs
  backend/Tasque.Core.Common/Entities/Sprint.cs
  backend/Tasque.Core.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.Core.WebAPI/Controllers/BacklogController.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskController.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskStateController.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskTypeController.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog-content/backlog-content.component.sass
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.sass
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.html
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/issue-template.component.ts
  frontend/src/core/models/sprint/sprint-model.ts
  frontend/src/core/models/task/task-model-dto.ts
  frontend/src/core/services/backlog.service.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/core/services/task-state.service.ts
  frontend/src/core/services/task-type.service.ts
  frontend/src/core/services/task.service.ts
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend

#186 192 board page
  backend/Tasque.BLL/MappingProfiles/BoardProfiles.cs
  backend/Tasque.BLL/Services/BoardService.cs
  backend/Tasque.Core.Common/DTO/Board/BoardColumnDto.cs
  backend/Tasque.Core.Common/DTO/Board/BoardDto.cs
  backend/Tasque.Core.Common/DTO/Board/BoardInfoDto.cs
  backend/Tasque.Core.Common/DTO/Task/TaskInfoDto.cs
  backend/Tasque.Core.WebAPI/AppConfigurationExtension/AppConfigurationExtension.cs
  backend/Tasque.Core.WebAPI/Controllers/BoardController.cs
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/core/models/board/board-column-model.ts
  frontend/src/core/models/board/board-info-model.ts
  frontend/src/core/models/board/board-model.ts
  frontend/src/core/models/board/task-Info-model.ts
  frontend/src/core/services/board.service.ts
  frontend/src/core/services/projectBoard.service.ts
  frontend/src/shared/components/tasque-avatar/avatar.component.html
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
Labels: backend, frontend

#187 220 fix taskteamselectcomponent
  frontend/src/shared/components/tasque-avatar/avatar.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
Labels: frontend, fix

#189 Added logo to header without left sidebar
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.html
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.html
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/header.component.sass
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: frontend

#188 Added create board method
  backend/Tasque.BLL/Services/ProjectService.cs
Labels: backend

#195 Fix out of bounds board columns
  frontend/src/app/components/tasque-board/tasque-board.component.sass
Labels: frontend, fix

#194 Fix projects wrong data loading when loggiong out
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/core/services/get-current-organization.service.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.ts
Labels: frontend, fix

#193 Added fixes on board page
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.ts
Labels: frontend, fix

#196 Add setting sub menu to the left sidebar and add settings template
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-issue-template/basic-issue-template.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-issue-template/basic-issue-template.component.sass
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-issue-template/basic-issue-template.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/guards/user-permission.guard.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/project-options-module.module.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/project-options.routes.ts
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.html
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.sass
  frontend/src/app/components/tasque-project-settings/tasque-project-settings.component.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
Labels: frontend

#190 193 move unfinished tasks to the backlog after the end of the sprint
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.Common/Enums/TaskStateTypes.cs
  frontend/src/app/components/backlog-content/backlog-content.component.sass
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.ts
  frontend/src/core/models/task/task-estimate-update.ts
  frontend/src/core/models/task/task-model-dto.ts
  frontend/src/core/models/task/task-state-types.ts
  frontend/src/core/services/backlog.service.ts
  frontend/src/core/services/sprint.service.ts
Labels: backend, frontend, fix

#198 Project service and guard. Also, change project create flow
  backend/Tasque.BLL/MappingProfiles/ProjectProfile.cs
  backend/Tasque.BLL/Services/ProjectService.cs
  backend/Tasque.Core.Common/DTO/Project/ProjectAfterCreateDto.cs
  backend/Tasque.Core.WebAPI/Controllers/ProjectController.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.ts
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/guards/access-control.guard.ts
  frontend/src/core/models/local-storage-keys.ts
  frontend/src/core/services/get-current-project.service.ts
  frontend/src/core/services/get-current-user.service.ts
  frontend/src/core/services/open-dialog.service.ts
  frontend/src/core/services/project.service.ts
  frontend/src/shared/components/create-project-dialog/create-project-dialog.component.ts
Labels: frontend

#203 228 sidebar fix
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.html
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
Labels: frontend, fix

#209 Profile page fixes
  README.md
  frontend/src/app/user/components/user-profile/user-profile.component.ts
  frontend/src/shared/components/tasque-avatar/avatar.component.html
  frontend/src/shared/components/tasque-avatar/avatar.component.sass
Labels: frontend, fix

#214 avatar fixes
  frontend/src/shared/components/tasque-avatar/avatar.component.html
  frontend/src/shared/components/tasque-avatar/avatar.component.sass
  frontend/src/shared/components/tasque-avatar/avatar.component.ts
Labels: frontend

#210 224 backlog
  backend/Tasque.BLL/Services/BacklogService.cs
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.Common/DTO/Sprint/SprintDto.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog-content/backlog-content.component.sass
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.sass
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint.component.html
  frontend/src/app/components/complete-sprint/complete-sprint.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.html
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/models/sprint/sprint-model.ts
  frontend/src/core/models/task/task-model-dto.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
  frontend/src/shared/shared.module.ts
Labels: backend, frontend

#208 added tooltips to sidebar
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
Labels: enhancement, frontend

#211 Fixed organization list on loading error
  frontend/src/app/components/organization-list/organization-list.component.ts
Labels: frontend, fix

#217 Remove already chosen project in task creation
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
Labels: frontend, fix

#218 Navigation between user projects
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.html
  frontend/src/app/components/edit-project/edit-project.component.ts
  frontend/src/app/components/organization-list/organization-list.component.ts
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.ts
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/guards/access-control.guard.ts
  frontend/src/core/models/local-storage-keys.ts
  frontend/src/core/services/get-current-project.service.ts
  frontend/src/core/services/get-current-user.service.ts
  frontend/src/core/services/internalServices.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.html
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.sass
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.ts
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/shared.module.ts
Labels: frontend

#221 241 create sprint component
  backend/Tasque.BLL/MappingProfiles/SprintProfiles.cs
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.Core.Common/DTO/Sprint/NewSprintDto.cs
  backend/Tasque.Core.Common/Entities/Sprint.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  frontend/.eslintrc.yml
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.sass
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.html
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/models/sprint/new-sprint-model.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/shared/components/tasque-button/button.component.sass
Labels: backend, frontend

#224 235 update filter by user
  frontend/src/app/user/components/user-profile/user-profile.component.html
  frontend/src/shared/components/tasque-avatar/avatar.component.sass
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
Labels: frontend, fix

#228 258 modal delete sprint
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  backend/Tasque.Core.WebAPI/appsettings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/delete-sprint-dialog/delete-sprint-dialog.component.html
  frontend/src/app/components/delete-sprint-dialog/delete-sprint-dialog.component.sass
  frontend/src/app/components/delete-sprint-dialog/delete-sprint-dialog.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/models/user/user-roles.ts
  frontend/src/core/services/open-dialog.service.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
Labels: backend, frontend

#231 Backlog page fix
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.html
Labels: frontend, fix

#226 Backend | frontend improvements and edit task modal
  backend/Tasque.BLL/MappingProfiles/TaskProfile.cs
  backend/Tasque.BLL/MappingProfiles/TaskProfiles.cs
  backend/Tasque.BLL/Services/BacklogService.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.BLL/Services/TaskStateService.cs
  backend/Tasque.Core.Common/DTO/Task/TaskDto.cs
  backend/Tasque.Core.Common/DTO/Task/TaskInfoDto.cs
  backend/Tasque.Core.Common/DTO/Task/TaskStateDto.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskController.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskStateController.cs
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/core/models/board/task-Info-model.ts
  frontend/src/core/models/sprint/sprint-model.ts
  frontend/src/core/models/task/task-model-dto.ts
  frontend/src/core/models/task/task-model.ts
  frontend/src/core/models/task/task-state.ts
  frontend/src/core/models/task/task-update-model.ts
  frontend/src/core/services/backlog.service.ts
  frontend/src/core/services/scope/scope-board-service.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/core/services/task-service.service.ts
  frontend/src/core/services/task-storage.service.ts
  frontend/src/core/services/task-template.service.ts
  frontend/src/core/services/task.service.ts
  frontend/src/shared/components/tasque-task-creation/task-creation-custom-fields/task-creation-custom-fields.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.sass
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend

#232 fix validation on user profile
  frontend/src/app/user/components/user-profile/user-profile.component.html
  frontend/src/app/user/components/user-profile/user-profile.component.sass
  frontend/src/app/user/components/user-profile/user-profile.component.ts
Labels: frontend

#236 272 fixing bugs in the backlog
  backend/Tasque.BLL/Services/AzureServices/CosmosTemplateService.cs
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskController.cs
  frontend/src/app/app.module.ts
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/models/task/task-create-view-model.ts
  frontend/src/core/services/task.service.ts
  frontend/src/shared/components/tasque-button/button.component.html
  frontend/src/shared/components/tasque-button/button.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend

#235 Edit task modal - Add assignees selection
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.BLL/Services/UserService.cs
  backend/Tasque.Core.WebAPI/Controllers/UserController.cs
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/app/user/services/user.service.ts
  frontend/src/core/models/board/task-Info-model.ts
  frontend/src/core/models/task/task-model.ts
  frontend/src/core/models/task/task-update-model.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend

#240 272 fixing bugs in the backlog
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.Common/DTO/Sprint/EditSprintDto.cs
  backend/Tasque.Core.Common/Entities/Task.cs
  backend/Tasque.Core.Common/Models/Task/TaskEstimateUpdate.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  backend/Tasque.Core.WebAPI/appsettings.json
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.html
  frontend/src/app/components/edit-sprint/edit-sprint-dialog/edit-sprint-dialog.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/app/components/page-with-sidebar/page-with-sidebar.component.sass
  frontend/src/core/models/sprint/edit-sprint-model.ts
  frontend/src/core/models/task/task-estimate-update.ts
  frontend/src/core/services/sprint.service.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.html
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
Labels: backend, frontend, fix

#238 238 your work page
  backend/Tasque.BLL/Services/ProjectService.cs
  backend/Tasque.Core.Common/DTO/Project/ProjectCardDTO.cs
  backend/Tasque.Core.WebAPI/Controllers/ProjectController.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/page-without-sidebar/page-without-sidebar.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/your-work/project-card/project-card.component.html
  frontend/src/app/components/your-work/project-card/project-card.component.sass
  frontend/src/app/components/your-work/project-card/project-card.component.ts
  frontend/src/app/components/your-work/your-work.component.html
  frontend/src/app/components/your-work/your-work.component.sass
  frontend/src/app/components/your-work/your-work.component.ts
  frontend/src/core/models/your-work/project-card-model.ts
  frontend/src/core/services/project.service.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
  frontend/src/styles.sass
Labels: backend, frontend

#241 Fix edit task dialog
  backend/Tasque.BLL/Services/TaskService.cs
  frontend/src/shared/components/select-users/select-users.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend, fix

#244 Fixed getting project
  backend/Tasque.Core.WebAPI/Controllers/ProjectController.cs
Labels: backend, fix

#246 Added task editing button to board cards
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/shared/components/tasque-button/button.component.sass
Labels: frontend

#249 Added label for organizations dropdown in header
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.sass
Labels: frontend

#250 Added text 'recent projects' in project dropdown
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.html
  frontend/src/shared/components/tasque-menu-dropdown/tasque-option/tasque-option.component.sass
Labels: frontend

#251 Fixed formatting and word 'management' spelling in edit project dialog
  frontend/src/app/components/edit-project/edit-project.component.html
Labels: frontend, fix

#252 Fix add button look user select component
  frontend/src/shared/components/select-users/select-users.component.html
Labels: frontend, fix

#255 Format stubs
  frontend/src/app/components/organization-list/organization-list.component.html
  frontend/src/app/components/organization-list/organization-list.component.sass
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.sass
Labels: frontend

#256 Redesign project settings sidebar section
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
Labels: frontend

#258 297 display assignees on card
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.html
Labels: frontend, fix

#263 Left sidebar settings add custom arrow
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.sass
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/components/tasque-menu-dropdown/menu-dropdown.component.sass
Labels: frontend

#264 300 Fixes to team-select component
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
Labels: frontend, fix

#266 179 Fixed gray line under team-select component
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.sass
Labels: bug, frontend, fix

#269 320 automatic switching project
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.ts
Labels: frontend

#272 Fix editor icons
  frontend/angular.json
  frontend/src/styles.sass
Labels: frontend, fix

#275 Finally fix editor icons
  frontend/src/assets/fonts/FontAwesome.otf
  frontend/src/assets/fonts/fontawesome-webfont.eot
  frontend/src/assets/fonts/fontawesome-webfont.svg
  frontend/src/assets/fonts/fontawesome-webfont.ttf
  frontend/src/assets/fonts/fontawesome-webfont.woff
  frontend/src/assets/fonts/fontawesome-webfont.woff2
  frontend/src/styles.sass
Labels: frontend, fix

#273 Fixed not displaying 'selected' style in the left sidebar
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
Labels: frontend, fix

#276 Bugfix/287 register page validation
  frontend/src/app/auth/components/register-page/register-page.component.html
  frontend/src/app/auth/components/register-page/register-page.component.ts
  frontend/src/app/auth/match.validator.ts
Labels: bug, frontend

#277 Backlog fixes
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.WebAPI/Controllers/SprintController.cs
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend, fix

#282 Fix project settings page reset button
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-settings/basic-setting-field/basic-setting-field.component.ts
Labels: frontend, fix

#283 Display task states prettier
  backend/Tasque.BLL/Services/ProjectService.cs
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.Core.Common/Enums/BasicTaskStateTypes.cs
  frontend/src/app/components/tasque-board/tasque-board.component.html
Labels: backend, frontend

#286 Fix not displaying issues counter on the complete sprint dialog
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.ts
  frontend/src/core/models/task/task-state-types.ts
Labels: frontend, fix

#284 Fix edit issue modal
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.sass
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: frontend, fix

#280 306 set project automatically
  frontend/src/app/app-routing.module.ts
  frontend/src/shared/components/tasque-task-creation/task-creation-custom-fields/task-creation-custom-fields.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation-custom-fields/task-creation-custom-fields.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
Labels: frontend

#285 Fix backlog appearence
  frontend/src/app/app.module.ts
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.sass
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.html
  frontend/src/app/components/complete-sprint/complete-sprint-dialog/complete-sprint-dialog.component.sass
  frontend/src/app/components/edit-sprint-dialog/edit-sprint-dialog.component.html
  frontend/src/app/components/edit-sprint-dialog/edit-sprint-dialog.component.sass
  frontend/src/app/components/edit-sprint-dialog/edit-sprint-dialog.component.ts
  frontend/src/app/components/edit-sprint/edit-sprint.component.html
  frontend/src/app/components/edit-sprint/edit-sprint.component.sass
  frontend/src/app/components/edit-sprint/edit-sprint.component.ts
  frontend/src/core/services/open-dialog.service.ts
Labels: frontend, fix

#288 fixed ttle in the error message
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
Labels: frontend, fix

#291 314 comments section
  backend/Tasque.BLL/Interfaces/ITaskService.cs
  backend/Tasque.BLL/MappingProfiles/TaskProfile.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.Core.Common/DTO/Task/CommentInfoDTO.cs
  backend/Tasque.Core.Common/DTO/Task/CommentTaskDTO.cs
  backend/Tasque.Core.Common/DTO/Task/CreateCommentDTO.cs
  backend/Tasque.Core.WebAPI/Controllers/CommentController.cs
  frontend/src/core/models/comment/comment-info.ts
  frontend/src/core/models/comment/create-comment.ts
  frontend/src/core/services/comment.service.ts
  frontend/src/shared/components/tasque-comments/tasque-comments.component.html
  frontend/src/shared/components/tasque-comments/tasque-comments.component.sass
  frontend/src/shared/components/tasque-comments/tasque-comments.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/shared.module.ts
Labels: backend, frontend

#296 Fix user role
  backend/Tasque.BLL/Services/SprintService.cs
  frontend/.eslintrc.yml
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.html
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.ts
  frontend/src/app/components/project-list/project-list.component.html
  frontend/src/app/components/project-list/project-list.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-card/tasque-card.component.html
  frontend/src/app/components/tasque-card/tasque-card.component.ts
  frontend/src/core/services/scope/scope-board-service.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
Labels: backend, frontend, fix

#294 Fixed comment overflow
  frontend/src/shared/components/tasque-comments/tasque-comments.component.html
  frontend/src/shared/components/tasque-comments/tasque-comments.component.sass
Labels: frontend, fix

#295 Fix team select component + pencil
  frontend/src/shared/components/tasque-button/button.component.sass
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.html
Labels: frontend, fix

#297 Improve header styles
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.html
  frontend/src/shared/components/tasque-header/organizations-dropdown/organizations-dropdown.component.sass
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.html
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.sass
Labels: frontend

#298 Make placeholders same style
  frontend/src/app/components/backlog/backlog.component.html
  frontend/src/app/components/backlog/backlog.component.sass
  frontend/src/app/components/your-work/your-work.component.html
  frontend/src/app/components/your-work/your-work.component.sass
Labels: frontend

#299 Task creation first values by default
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-sidebar/tasque-sidebar-modal/sidebar-modal.component.sass
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
Labels: frontend

#301 Fixed left siidebar full opening
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
Labels: frontend, fix

#302 303 changed settings styles
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-settings/basic-setting-field/basic-setting-field.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-settings/basic-setting/basic-setting.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-settings/basic-settings.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/basic-settings/basic-settings.component.sass
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/issue-template.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/issue-template.component.sass
  frontend/src/shared/components/tasque-button/button.component.sass
Labels: frontend, fix

#304 Added project role
  backend/Tasque.BLL/MappingProfiles/UserProfiles.cs
  backend/Tasque.BLL/Services/UserService.cs
  backend/Tasque.Core.Common/DTO/User/UserDto.cs
  backend/Tasque.Core.Common/DTO/User/UserRoles/UserProjectRoleDto.cs
  frontend/src/app/components/backlog-content/backlog-content.component.html
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.html
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.html
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/organization-list/organization-list-item/organization-list-item.component.ts
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.html
  frontend/src/app/components/project-list/project-list-item/project-list-item.component.ts
  frontend/src/core/models/user/user-model.ts
  frontend/src/core/models/user/user-project-roles.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.html
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/components/tasque-header/header.component.html
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
Labels: backend, frontend, fix

#303 Fix task location after board page update
  frontend/src/app/components/tasque-board/tasque-board.component.ts
Labels: frontend, fix

#305 321 project team page
  frontend/src/app/components/tasque-team/tasque-team.component.html
  frontend/src/app/components/tasque-team/tasque-team.component.sass
Labels: enhancement, frontend

#309 Fix updating issue backlog page
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/issue/issue.component.ts
Labels: frontend, fix

#312 My work counters fix
  backend/Tasque.BLL/Services/ProjectService.cs
Labels: backend, fix

#315 Fix column scrolling and others
  backend/Tasque.BLL/Services/SprintService.cs
  frontend/src/app/components/tasque-board/tasque-board.component.html
  frontend/src/app/components/tasque-board/tasque-board.component.sass
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.html
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
Labels: backend, frontend, fix

#322 Task creation modal - Fix not loading additional fields on startup
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
Labels: frontend, fix

#325 get only user projects in organization
  backend/Tasque.BLL/Services/ProjectService.cs
Labels: backend, fix

#324 Fixed comment freezing on non-author commenting
  backend/Tasque.BLL/Services/TaskService.cs
Labels: backend, fix

#328 Changed image links in emails to code
  backend/Tasque.Core.Common/StaticResources/LogoHolder.cs
  backend/Tasque.Core.Identity/Services/AuxiliaryServices/ConfirmationTokenService.cs
  backend/Tasque.Core.Identity/Services/Extensions/Factory/Builders/OrganizationInvitationBuilder.cs
  backend/Tasque.Core.WebAPI/appsettings.json
Labels: backend, fix

#329 Fixed logo image in emails
  backend/Tasque.Core.Identity/Services/AuxiliaryServices/ConfirmationTokenService.cs
  backend/Tasque.Core.Identity/Services/Extensions/Factory/Builders/OrganizationInvitationBuilder.cs
  backend/Tasque.Core.WebAPI/appsettings.json
Labels: backend, fix

#332 fix user avatar in project edit
  backend/Tasque.BLL/MappingProfiles/UserProfiles.cs
  frontend/src/app/components/edit-project/edit-project.component.html
  frontend/src/shared/components/select-users/select-users.component.ts
Labels: bug

#330 fix grammar mistakes and some style
  frontend/src/app/components/tasque-wiki/wiki-left-sidebar/wiki-left-sidebar.component.html
  frontend/src/app/components/tasque-wiki/wiki-left-sidebar/wiki-left-sidebar.component.sass
  frontend/src/app/components/tasque-wiki/wiki-page/wiki-page.component.html
  frontend/src/app/components/tasque-wiki/wiki-page/wiki-page.component.sass
  frontend/src/app/components/tasque-wiki/wiki/wiki.component.sass
  frontend/src/app/user/components/user-profile/user-profile.component.html
Labels: frontend, fix

#333 Fixed errors if user does not have an organization
  frontend/src/shared/components/tasque-header/tasque-header.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
Labels: frontend, fix

#336 fix column scroll bar
  frontend/src/app/components/tasque-board/tasque-board.component.sass
Labels: bug

#338 Fixed task updating after drag and drop (again)
  frontend/src/app/components/tasque-board/tasque-board.component.ts
Labels: frontend, fix

#323 Edit issue modal add custom task fields
  backend/Tasque.BLL/Interfaces/ITaskService.cs
  backend/Tasque.BLL/Services/AzureServices/CosmosTaskService.cs
  backend/Tasque.BLL/Services/SprintService.cs
  backend/Tasque.BLL/Services/TaskService.cs
  backend/Tasque.Core.Common/DTO/Task/PartialModels/CosmosTaskModel.cs
  backend/Tasque.Core.WebAPI/Controllers/TaskController.cs
  frontend/src/app/components/backlog-content/backlog-content.component.ts
  frontend/src/app/components/backlog/backlog.component.ts
  frontend/src/app/components/backlog/sprint/sprint.component.ts
  frontend/src/app/components/tasque-board/tasque-board.component.ts
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/issue-template.component.html
  frontend/src/app/components/tasque-project-settings/project-options-module/issue-template/issue-template.component.sass
  frontend/src/core/models/project/project-model.ts
  frontend/src/core/models/task/task-model.ts
  frontend/src/core/models/task/task-update-model.ts
  frontend/src/core/services/get-current-project.service.ts
  frontend/src/core/services/task.service.ts
  frontend/src/shared/components/left-sidebar/left-sidebar.component.ts
  frontend/src/shared/components/tasque-dropdown/dropdown.component.sass
  frontend/src/shared/components/tasque-header/notifications/user-invited-notification/user-invited-notification.component.html
  frontend/src/shared/components/tasque-header/project-dropdown/project-dropdown.component.ts
  frontend/src/shared/components/tasque-task-creation/task-creation.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing-custom-fields/task-editing-custom-fields.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing-custom-fields/task-editing-custom-fields.component.sass
  frontend/src/shared/components/tasque-task-editing/task-editing-custom-fields/task-editing-custom-fields.component.ts
  frontend/src/shared/components/tasque-task-editing/task-editing.component.html
  frontend/src/shared/components/tasque-task-editing/task-editing.component.sass
  frontend/src/shared/components/tasque-task-editing/task-editing.component.ts
  frontend/src/shared/components/tasque-team-select/tasque-team-select.component.ts
  frontend/src/shared/shared.module.ts
Labels: enhancement, backend, frontend
